*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
}

main{
    width: 100%;
    padding: 01rem;
    .hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .img-section{
            margin-top: 1rem;

            img{
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .text-section{
        width: 100%;
        padding: 1.5rem;
        border-radius: 10px;
        background-color: rgb(30, 30, 30);

        h2{
            font-size: 0.9rem;
            padding-bottom: 3.5rem;
            margin-top: 1rem;
            color: #ececec;
            font-weight: 500;
        }

        h1{
            font-size: 2.1rem;
            color: #ececece4;
            font-weight: 100;
            text-transform: uppercase;
            line-height: 1.3;
        }

        p{
            font-size: 1.4rem;
            color: #aeaeaea6;
            font-weight: 300;
            line-height: 1.4;
            padding: 1rem 0;
        }

        button{
            border: none;
            background-color:transparent;
            color: #ececec;
            font-size: 0.9rem;
            font-weight: 300;
            text-align: left;
            margin-top: 1rem;

            i{
                border-radius: 50%;
                border: 2px solid rgba(92, 92, 92, 0.397);
                background-color: #6f6f6f3f;
                padding: 0.7rem;
                margin-right: 0.5rem;
                font-weight: 100;
                font-size: 0.9rem;
            }
        }
    }

    .works-info{
        padding: 1.8rem 1rem;
        text-align: center;

        .info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            line-height: 1.4;
            padding-bottom: 1rem;

            .info1{
                font-weight: 100;
                width: 40%;


                .title{
                    font-size: 0.9rem;
                    color: #aeaeaea6;
                    text-transform: uppercase;
                }

                h1{
                    font-size: 2.3rem;
                    font-weight: 100;
                    color: #ececece4;
                    padding-top: 0.5rem;
                }
            }
            .info2{
                font-weight: 100;
                width: 40%;
                
                .title{
                    font-size: 0.9rem;
                    color: #aeaeaea6;
                    text-transform: uppercase; 
                }
                h1{
                    font-size: 2.3rem;
                    font-weight: 100;
                    color: #ececece4;
                    padding-top: 0.5rem;
                }
            }
        }
    }
    .works-info:nth-child(1){
        padding-bottom: 1rem;
    }
    
    .philosophy-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .img-section {
            margin-top: 1rem;

            img{
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
            .text-section{
                width: 100%;
                padding: 1.5rem;
                border-radius: 10px;
                background-color: rgb(30, 30, 30);

                h2{
                    font-size: 0.9rem;
                    padding-bottom: 3.5rem;
                    margin-top: 1rem;
                    color: #ececec;
                    font-weight: 500;
                }

            h1{
                font-size: 2rem;
                color: #ececec;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
            }

            p{
                font-size: 1.1rem;
                color: #aeaeaea6;
                font-weight: 300;
                line-height: 1.4;
                padding: 1rem 0;
                word-spacing: 4px;
            }
        }
    }

    .vision-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .img-section{
            margin-top: 1rem;

            img{
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .text-section{
            width: 100%;
            padding: 1.5rem;
            border-radius: 10px;
            background-color: rgb(30, 30, 30);

            h2{
                font-size: 0.9rem;
                padding-bottom: 3.5rem;
                margin-top: 1rem;
                color: #ececec;
                font-weight: 500;
            }

            h1{
                font-size: 2rem;
                color: #ececec;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
            }

            p{
                font-size: 1.1rem;
                color: #aeaeaea6;
                font-weight: 300;
                line-height: 1.4;
                padding: 1rem 0;
                word-spacing: 3.5px;
            }
        }
    }

    .team-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 1rem;

        .heading-section{
            
            h1{
                font-size: 2rem;
                color: #ececec;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
            }
        }

        .team-members{
            margin-top: 1rem;

            .member{
                margin-top: 1rem;
                img{
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
                }
            }    
        }
    }
}