@font-face {
    font-family: "chillax";
    src: url(fonts/Chillax-Regular.woff);
}

@font-face {
    font-family: "satoshi";
    src: url(fonts/Satoshi-Light.woff);
}

@mixin heading-styling {
    color: #dedede;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "satoshi", Arial, Helvetica, sans-serif;
}

@mixin img-styling {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

@mixin social-icons {
    font-size: 1.1rem;
    color: #ececec;
    border: 1px solid rgba(128, 128, 128, 0.203);
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.203);
    backdrop-filter: blur(5px);
    padding: 0.8rem;
    transition: all ease 0.3s;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
}

main{
    width: 100%;
    padding: 01rem;

    .hero{
        @include flex-column();

        .img-section{
            margin-top: 1rem;

            img{
                @include img-styling();
            }
        }

        .text-section{
            width: 100%;
            padding: 1.5rem;
            border-radius: 10px;
            background-color: rgb(30, 30, 30);

            h2{
                font-size: 0.9rem;
                padding-bottom: 3.5rem;
                margin-top: 1rem;
                color: #ececec;
                font-weight: 500;
                font-family: "chillax";
            }

            h1{
                font-size: 2.1rem;
                color: #ececece4;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
                font-family: "chillax", Arial, Helvetica, sans-serif;
            }

            p{
                font-size: 1.4rem;
                color: #aeaeaea6;
                font-weight: 300;
                line-height: 1.4;
                padding: 1rem 0;
                font-family: "satoshi";
            }

            button{
                border: none;
                background-color:transparent;
                color: #ececec;
                font-size: 0.9rem;
                font-weight: 300;
                font-family: "satoshi", Arial, Helvetica, sans-serif;
                text-align: left;
                margin-top: 1rem;

                i{
                    @include social-icons();
                    margin-right: 1rem;
                }
            }
        }
    }

    .works-info{
        padding: 1.8rem 1rem;
        text-align: center;

        .info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            line-height: 1.4;
            padding-bottom: 1rem;

            .info1{
                font-weight: 100;
                width: 40%;


                .title{
                    font-size: 0.9rem;
                    color: #aeaeaea6;
                    text-transform: uppercase;
                    font-family: "chillax", Arial, Helvetica, sans-serif;
                }

                h1{
                    font-size: 2.3rem;
                    font-weight: 100;
                    color: #ececece4;
                    padding-top: 0.5rem;
                    font-family: "chillax", Arial, Helvetica, sans-serif;
                }
                
            }
            .info2{
                font-weight: 100;
                width: 40%;
                
                .title{
                    font-size: 0.9rem;
                    color: #aeaeaea6;
                    text-transform: uppercase; 
                    font-family: "chillax", Arial, Helvetica, sans-serif;
                }

                h1{
                    font-size: 2.3rem;
                    font-weight: 100;
                    color: #ececece4;
                    padding-top: 0.5rem;
                    font-family: "chillax", Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .philosophy-section {
        @include flex-column();

        .img-section {

            img{
                @include img-styling();
            }
        }
            .text-section{
                width: 100%;
                padding: 1.5rem;
                border-radius: 10px;
                background-color: rgb(30, 30, 30);

                h2{
                    font-size: 0.9rem;
                    padding-bottom: 3.5rem;
                    margin-top: 1rem;
                    color: #ececec;
                    font-weight: 500;
                    font-family: "satoshi", Arial, Helvetica, sans-serif;
                }

            h1{
                font-size: 2rem;
                color: #ececec;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
                font-family: "chillax", Arial, Helvetica, sans-serif;
            }

            .description{
                padding: 1rem 0;

                p{
                    font-size: 1.1rem;
                    color: #aeaeaea6;
                    font-weight: 300;
                    line-height: 1.4;
                    word-spacing: 4px;
                    font-family: "satoshi", Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .vision-section{
        @include flex-column();

        .img-section{
            margin-top: 1rem;

            img{
                @include img-styling();
            }
        }

        .text-section{
            width: 100%;
            padding: 1.5rem;
            border-radius: 10px;
            background-color: rgb(30, 30, 30);

            h2{
                font-size: 0.9rem;
                padding-bottom: 3.5rem;
                margin-top: 1rem;
                color: #ececec;
                font-weight: 500;
                font-family: "satoshi", Arial, Helvetica, sans-serif;
            }

            h1{
                font-size: 2rem;
                color: #ececec;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
                font-family: "chillax", Arial, Helvetica, sans-serif;
            }

            p{
                font-size: 1.1rem;
                color: #aeaeaea6;
                font-weight: 300;
                line-height: 1.4;
                padding: 1rem 0;
                word-spacing: 3.5px;
                font-family: "satoshi", Arial, Helvetica, sans-serif;
            }
        }
    }

    .team-section{
        @include flex-column();
        margin-top: 1.5rem;

        .heading-section{
            margin-left: 1rem;
            h1{
                @include heading-styling();
                font-weight: 600;
                font-size: 2rem;
            }
        }

        .team-members{

            .member{
                margin-top: 1rem;
                position: relative;

                img{
                    @include img-styling();
                    }

                .social-links{
                    width: 100%;
                    position: absolute;
                    z-index: 2;
                    top: 10%;
                    right: 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    gap: 0.5rem;

                    i{
                        @include social-icons();
                    }

                    i:hover{
                        border: 1px solid #ececec;
                    }
                }

                .member-info{
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    text-transform: uppercase;
                    color: #dedede;
                    background-color: rgba(123, 123, 123, 0.329);
                    backdrop-filter: blur(20px);
                    margin: 1rem;
                    border-radius: 2px;

                    h1{
                        font-size: 1.5rem;
                        font-weight: 300;
                        font-family: "chillax", Arial, Helvetica, sans-serif;
                    }

                    span{
                        font-weight: 400;
                        font-family: "satoshi", Arial, Helvetica, sans-serif;
                    }
                }
            }    
        }
    }

    .job-section{
        @include flex-column();

        .img-section{
            margin-top: 1.5rem;

            img{
                @include img-styling();
            }
        }

        .text-section{
            @include flex-column();
            text-transform: uppercase;
            padding: 1.5rem;
            background-color: #1a1a1a;
            border-radius: 10px;

            h2{
                font-size: 1rem;
                padding-bottom: 0.5rem;
                margin-top: 1rem;
                color: #b4b4b4bd;
                font-weight: 600;
                font-family: "satoshi", Arial, Helvetica, sans-serif;
            }

            h1{
                font-size: 2.1rem;
                color: #ececece4;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.3;
                font-family: "chillax", Arial, Helvetica, sans-serif;
            }


            .link{
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 3rem;

                i{
                    @include social-icons();
                }

                span{
                    color: #ececec;
                    font-family: "satoshi", Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .contact-section{
        background-color: #CEBD63;
        padding: 1.5rem;
        margin-top: 1.5rem;
        border-radius: 10px;

        h2{
            color: #1a1a1a;
            font-size: 1rem;
            padding-bottom: 0.8rem;
            margin-top: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            font-family: "satoshi", Arial, Helvetica, sans-serif;
        }

        h1{
            font-size: 2rem;
            color: #1a1a1a;
            font-weight: 100;
            text-transform: uppercase; 
            width: 50%;
            padding-bottom: 1rem;
            font-family: "chillax", Arial, Helvetica, sans-serif;
        }

        button{
            background-color: #121212;
            color: #dedede;
            padding: 1rem;
            border-radius: 10px;
            width: 100%;
            font-size: 1rem;
            font-family: "satoshi", Arial, Helvetica, sans-serif;
        }

        button:hover{
            background-color: #121212fb;
        }
    }
}

footer{
    margin: 1rem 1rem 12rem 1rem;

    .social-links-section{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            text-transform: uppercase;
            background-color: #1a1a1a;
            padding: 1.5rem;
            border-radius: 10px;

        h2{
            @include heading-styling();
        }

        .social-links{
            color: #dedede;

            i{
                @include social-icons();
                margin-right: 0.5rem;
            }

            i:hover{
                border: 1px solid #dedede;
            }
        }
    }

    .footer-pages-section{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 2rem;
        text-transform: uppercase;
        background-color: #1a1a1a;
        padding: 1.5rem;
        border-radius: 10px;

        .pages-section{
            @include flex-column();
            h2{
                @include heading-styling();
            }
            
            a{
                color: #aeaeaea6;
                text-decoration: none;
                text-transform: uppercase;
                width: fit-content;
                font-family: "satoshi", Arial, Helvetica, sans-serif;
            }

            a:hover{
                color: #dedede;
            }

            button{
                background-color: #CEBD63;
                color: #121212;
                padding: 1rem;
                border-radius: 10px;
                width: 100%;
                font-size: 1rem;
                text-transform: uppercase;
                font-family: "satoshi", Arial, Helvetica, sans-serif;
            }

            button:hover{
                background-color: #cebc63e5;
            }
        }

        .cms-section{
            @include flex-column();
            h2{
                @include heading-styling();
            }
        
            a{
                color: #aeaeaea6;
                text-decoration: none;
                text-transform: uppercase;
                width: fit-content;
                font-family: "chillax", Arial, Helvetica, sans-serif;
            }

            a:hover{
                color: #dedede;
            }
        }

        .utility-pages-section{
            @include flex-column();
            h2{
                @include heading-styling();
            }
        
            a{
                color:  #aeaeaea6;
                text-decoration: none;
                text-transform: uppercase;
                width: fit-content;
                font-family: "chillax", Arial, Helvetica, sans-serif;
            }

            a:hover{
                color: #dedede;
            }
        }
    }

    .madeby-section{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 2rem;
        text-transform: uppercase;
        background-color: #1a1a1a;
        padding: 1.5rem;
        border-radius: 10px;

        p{
            color: #aeaeaea6;
            line-height: 1.5;
            font-family: "satoshi", Arial, Helvetica, sans-serif;

            a{
                color: #dedede;
            }
        }

        span{
            color: #dedede;
            text-align: center;
            font-size: 1rem;
            font-family: "satoshi", Arial, Helvetica, sans-serif;

            i{
                @include social-icons();
                margin-left: 0.5rem;
            }
        }
    }
}

@media (min-width: 768px) {
    main{
        .hero{
            .text-section{
                @include flex-column();
                padding: 2.5rem;

                h2{
                    margin: 0;
                    padding-bottom: 7.5rem;
                }
                
                h1{
                    font-size: 3.8rem;
                    font-weight: 400;
                    line-height: 1.1;
                }

                p{
                    padding: 0;
                    width: fit-content;
                    margin-bottom: 1rem;
                }
            }
        }

        .works-info{
            .info{
                padding: 1rem 4rem;
                .info1{
                    .title{
                        font-weight: 600;
                    }

                    h1{
                        font-weight: 500;
                        font-size: 3.5rem;
                        padding: 0;
                    }
                }

                .info2{
                    .title{
                        font-weight: 600;
                    }

                    h1{
                        font-weight: 500;
                        font-size: 3.5rem;
                        padding: 0;
                    }
                }
            }
        }

        .philosophy-section{
            .text-section{
                h1{
                    font-size: 3rem;
                    margin-top: 3rem;
                }

                .description{

                    p{
                        font-size: 1.15rem;
                        column-count: 2;
                        column-gap: 2rem;
                        text-align: left;
                        line-height: 1.35;
                        word-spacing: 7px;
                    }
                }
            }
        }

        .vision-section{
            .text-section{
                .description{
                    p{
                        font-size: 1.15rem;
                        column-count: 2;
                        column-gap: 2rem;
                        text-align: left;
                        line-height: 1.35;
                        word-spacing: 2px;
                    }
                }
            }
        }

        .team-section{
            .team-members{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                .member{
                    width: 100%;

                    img{
                        border-radius: 1rem;
                    }

                    .social-links{
                        i{
                            color: #acacacbd;
                            backdrop-filter: blur(25px);
                        }
                    }

                    .member-info{
                        border-radius: 0.5rem;
                        width: 90%;

                        h1{
                            font-weight: 300;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        .job-section{
            .text-section{
                padding: 2rem;

                h1{
                    font-size: 3rem;
                    margin-bottom: 3rem;
                }
            }
        }

        .contact-section{
            h2{
                font-weight: 600;
            }

            h1{
                font-size: 4rem;
                width: 100%;
                line-height: 1;
            }
        }
    }

    footer{
        .social-links-section{
            h2{
                margin-bottom: 5rem;
            }
            .social-links{
                margin-bottom: 2rem;
            }
        }

        .footer-pages-section{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .pages-section{
                @include flex-column();
                gap: 2rem;

                a{
                    font-weight: 600;
                }
                button{
                    width: fit-content;
                    font-weight: 600;
                    letter-spacing: 2px;
                    padding: 1.2rem;
                }
            }

            .cms-section{
                @include flex-column();
                gap: 2rem;

                a{
                    font-weight: 600;
                }
            }

            .utility-pages-section{
                @include flex-column();
                gap: 2rem;

                a{
                    font-weight: 600;
                }
            }
        }

        .madeby-section{
            flex-direction: row;
            gap: 11rem;
            padding: 2rem;

            p{
                font-weight: 600;
                font-size: 0.9rem;
                word-spacing: 3px;
            }
            span {
                word-spacing: 3px;
            };
        }
    }
}

@media (min-width: 1024px) {
    main{
        .hero{
            flex-direction: row;
            width: 100%;

            .img-section{
                width: 50%;
                height: auto;
                img{
                    height: 100%;
                    border-radius: 1rem;
                }
            }

            .text-section{
                border-radius: 1rem;
                margin-top: 1rem;
                padding: 3rem;
                width: 50%;

                h2{
                    padding-bottom: 15rem;
                }
                h1{
                    font-size: 3.2rem;
                }

                p{
                    font-size: 1.5rem;
                }
            }
        }

        .works-info{
            display: flex;
            justify-content: space-evenly;
            .info{
                display: flex;
                gap: 6rem;
            }
        }

        .philosophy-section{
            flex-direction: row-reverse;
            width: 100%;
    
            .text-section{
                border-radius: 1rem;
                margin-top: 1rem;
                padding: 3rem;
                width: 50%;

                h2{
                    padding-bottom: 10rem;
                }

                h1{
                    font-size: 2.2rem;
                }

                p{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
            .img-section{
                height: auto;
                width: 50%;
                margin-top: 1rem;
                img{
                    height: 100%;
                    border-radius: 1rem;
                }
            }
        }

        .vision-section{
            flex-direction: row;
            width: 100%;

            .img-section{
                height: auto;
                width: 50%;
                img{
                    height: 100%;
                }
            }

            .text-section{
                border-radius: 1rem;
                margin-top: 1rem;
                padding: 3rem;
                width: 50%;

                h2{
                    padding-bottom: 10rem;
                }

                h1{
                    font-size: 2.2rem;
                }

                p{
                    font-size: 1.5rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
        }

        .team-section{
            .team-members{
                display: flex;
                flex-direction: row;
                
                .member{
                    .member-info{
                        gap: 1rem;
                    }
                }
            }
        }
        
        .job-section{
            flex-direction: row;
            width: 100%;

            .img-section{
                height: auto;
                width: 50%;
                margin-top: 1rem;


                img{
                    height: 100%;
                    border-radius: 1rem;
                }
            }

            .text-section{
                border-radius: 1rem;
                margin-top: 1rem;
                padding: 3rem;
                width: 50%;

                h1{
                    font-size: 1.8rem;
                }
            }
        }

        .contact-section{
            margin-top: 1rem;
            padding: 3rem;
            display: flex;
            align-items: end;
            gap: 3rem;

            .heading{
                h1{
                    font-size: 3.5rem;
                    font-weight: 500;
                }
            }
            
            button{
                width: 30%;
                margin: 0;
            }
        }
    }

    footer{
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
        grid-template-areas: "social pages"
                                                "social madeby";

        .social-links-section{
            grid-area: social;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            .social-links{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.5em;
                margin: 0;
                padding: 0;
            }
        }

        .madeby-section{
            grid-area: madeby;
            margin-top: 0;
        }
    }
}