@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Regular.woff);
}
@font-face {
  font-family: "satoshi";
  src: url(fonts/Satoshi-Light.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(18, 18, 18);
}

main {
  width: 100%;
  padding: 1rem;
}
main .hero-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main .hero-section .img-section {
  margin-top: 1rem;
}
main .hero-section .img-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .hero-section .text-section {
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
}
main .hero-section .text-section h2 {
  font-size: 0.9rem;
  padding-bottom: 3.5rem;
  margin-top: 1rem;
  color: #ececec;
  font-weight: 500;
  font-family: "chillax";
}
main .hero-section .text-section h1 {
  font-size: 2.1rem;
  color: rgba(236, 236, 236, 0.8941176471);
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .hero-section .text-section p {
  font-size: 1.4rem;
  color: rgba(174, 174, 174, 0.6509803922);
  font-weight: 300;
  line-height: 1.4;
  padding: 1rem 0;
  font-family: "satoshi";
}
main .hero-section .text-section button {
  border: none;
  background-color: transparent;
  color: #ececec;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 1rem;
}
main .hero-section .text-section button i {
  font-size: 1.1rem;
  color: #ececec;
  border: 1px solid rgba(128, 128, 128, 0.203);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.203);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.8rem;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-right: 1rem;
}
main .stats-section {
  padding: 1.8rem 1rem;
}
main .stats-section .stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .stats-section .stats-container .stats-item {
  font-weight: 100;
  width: 40%;
  text-align: center;
}
main .stats-section .stats-container .stats-item .stat-label {
  font-size: 0.9rem;
  color: rgba(174, 174, 174, 0.6509803922);
  text-transform: uppercase;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .stats-section .stats-container .stats-item .stat-value {
  font-size: 2.3rem;
  font-weight: 100;
  color: rgba(236, 236, 236, 0.8941176471);
  padding-top: 0.5rem;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .philosophy-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main .philosophy-section .img-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .philosophy-section .text-section {
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
}
main .philosophy-section .text-section h2 {
  font-size: 0.9rem;
  padding-bottom: 3.5rem;
  margin-top: 1rem;
  color: #ececec;
  font-weight: 500;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .philosophy-section .text-section h1 {
  font-size: 2rem;
  color: #ececec;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .philosophy-section .text-section .description {
  padding: 1rem 0;
}
main .philosophy-section .text-section .description p {
  font-size: 1.1rem;
  color: rgba(174, 174, 174, 0.6509803922);
  font-weight: 300;
  line-height: 1.4;
  word-spacing: 4px;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .vision-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main .vision-section .img-section {
  margin-top: 1rem;
}
main .vision-section .img-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .vision-section .text-section {
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
}
main .vision-section .text-section h2 {
  font-size: 0.9rem;
  padding-bottom: 3.5rem;
  margin-top: 1rem;
  color: #ececec;
  font-weight: 500;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .vision-section .text-section h1 {
  font-size: 2rem;
  color: #ececec;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .vision-section .text-section p {
  font-size: 1.1rem;
  color: rgba(174, 174, 174, 0.6509803922);
  font-weight: 300;
  line-height: 1.4;
  padding: 1rem 0;
  word-spacing: 3.5px;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .team-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.5rem;
}
main .team-section .label-section {
  margin-left: 1rem;
}
main .team-section .label-section h1 {
  color: #dedede;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .team-section .label-section .link {
  display: none;
}
main .team-section .team-members .member {
  margin-top: 1rem;
  position: relative;
}
main .team-section .team-members .member img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .team-section .team-members .member .social-links {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
}
main .team-section .team-members .member .social-links i {
  font-size: 1.1rem;
  color: #ececec;
  border: 1px solid rgba(128, 128, 128, 0.203);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.203);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.8rem;
  transition: all ease 0.3s;
  cursor: pointer;
}
main .team-section .team-members .member .social-links i:hover {
  border: 1px solid #ececec;
}
main .team-section .team-members .member .member-info {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  color: #dedede;
  background-color: rgba(123, 123, 123, 0.329);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin: 1rem;
  border-radius: 2px;
}
main .team-section .team-members .member .member-info h1 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .team-section .team-members .member .member-info span {
  font-weight: 400;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .job-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main .job-section .img-section {
  margin-top: 1.5rem;
}
main .job-section .img-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .job-section .text-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-transform: uppercase;
  padding: 1.5rem;
  background-color: #1a1a1a;
  border-radius: 10px;
}
main .job-section .text-section h2 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  color: rgba(180, 180, 180, 0.7411764706);
  font-weight: 600;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .job-section .text-section h1 {
  font-size: 2.1rem;
  color: rgba(236, 236, 236, 0.8941176471);
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .job-section .text-section .link {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
main .job-section .text-section .link i {
  font-size: 1.1rem;
  color: #ececec;
  border: 1px solid rgba(128, 128, 128, 0.203);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.203);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.8rem;
  transition: all ease 0.3s;
  cursor: pointer;
}
main .job-section .text-section .link span {
  color: #ececec;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .contact-section {
  background-color: #CEBD63;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}
main .contact-section h2 {
  color: #1a1a1a;
  font-size: 1rem;
  padding-bottom: 0.8rem;
  margin-top: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .contact-section h1 {
  font-size: 2rem;
  color: #1a1a1a;
  font-weight: 100;
  text-transform: uppercase;
  width: 50%;
  padding-bottom: 1rem;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
main .contact-section button {
  background-color: #121212;
  color: #dedede;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
main .contact-section button:hover {
  background-color: rgba(18, 18, 18, 0.9843137255);
}

footer {
  margin: 1rem 1rem 12rem 1rem;
}
footer .social-links-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-transform: uppercase;
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
}
footer .social-links-section h2 {
  color: #dedede;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .social-links-section .social-links {
  color: #dedede;
}
footer .social-links-section .social-links i {
  font-size: 1.1rem;
  color: #ececec;
  border: 1px solid rgba(128, 128, 128, 0.203);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.203);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.8rem;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-right: 0.5rem;
}
footer .social-links-section .social-links i:hover {
  border: 1px solid #dedede;
}
footer .footer-pages-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 2rem;
  text-transform: uppercase;
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
}
footer .footer-pages-section .pages-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer .footer-pages-section .pages-section h2 {
  color: #dedede;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .pages-section a {
  color: rgba(174, 174, 174, 0.6509803922);
  text-decoration: none;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .pages-section a:hover {
  color: #dedede;
}
footer .footer-pages-section .pages-section button {
  background-color: #CEBD63;
  color: #121212;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .pages-section button:hover {
  background-color: rgba(206, 188, 99, 0.8980392157);
}
footer .footer-pages-section .cms-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer .footer-pages-section .cms-section h2 {
  color: #dedede;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .cms-section a {
  color: rgba(174, 174, 174, 0.6509803922);
  text-decoration: none;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .cms-section a:hover {
  color: #dedede;
}
footer .footer-pages-section .utility-pages-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer .footer-pages-section .utility-pages-section h2 {
  color: #dedede;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .utility-pages-section a {
  color: rgba(174, 174, 174, 0.6509803922);
  text-decoration: none;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "chillax", Arial, Helvetica, sans-serif;
}
footer .footer-pages-section .utility-pages-section a:hover {
  color: #dedede;
}
footer .madeby-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 2rem;
  text-transform: uppercase;
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
}
footer .madeby-section p {
  color: rgba(174, 174, 174, 0.6509803922);
  line-height: 1.5;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .madeby-section p a {
  color: #dedede;
}
footer .madeby-section span {
  color: #dedede;
  text-align: center;
  font-size: 1rem;
  font-family: "satoshi", Arial, Helvetica, sans-serif;
}
footer .madeby-section span i {
  font-size: 1.1rem;
  color: #ececec;
  border: 1px solid rgba(128, 128, 128, 0.203);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.203);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.8rem;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-left: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .hero-section .text-section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2.5rem;
  }
  main .hero-section .text-section h2 {
    margin: 0;
    padding-bottom: 7.5rem;
  }
  main .hero-section .text-section h1 {
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.1;
  }
  main .hero-section .text-section p {
    padding: 0;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1rem;
  }
  main .stats-section .stats-container {
    padding: 1rem 3.5rem;
  }
  main .stats-section .stats-container .stats-item .stat-label {
    font-size: 1rem;
    font-weight: 600;
  }
  main .stats-section .stats-container .stats-item .stat-value {
    font-weight: 500;
    font-size: 3.5rem;
    padding: 0;
  }
  main .philosophy-section .text-section h1 {
    font-size: 3rem;
    margin-top: 3rem;
  }
  main .philosophy-section .text-section .description p {
    font-size: 1.15rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    text-align: left;
    line-height: 1.35;
    word-spacing: 7px;
  }
  main .vision-section .text-section .description p {
    font-size: 1.15rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    text-align: left;
    line-height: 1.35;
    word-spacing: 2px;
  }
  main .team-section .label-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  main .team-section .label-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    font-family: "chillax", Arial, Helvetica, sans-serif;
  }
  main .team-section .label-section .link {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  main .team-section .label-section .link i {
    font-size: 1.1rem;
    color: #ececec;
    border: 1px solid rgba(128, 128, 128, 0.203);
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.203);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 0.8rem;
    transition: all ease 0.3s;
    cursor: pointer;
  }
  main .team-section .label-section .link span {
    color: #ececec;
    font-family: "satoshi", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  main .team-section .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  main .team-section .team-members .member {
    width: 100%;
    border-radius: 1rem;
  }
  main .team-section .team-members .member img {
    border-radius: 1rem;
    height: 100%;
  }
  main .team-section .team-members .member .social-links i {
    color: rgba(172, 172, 172, 0.7411764706);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
  }
  main .team-section .team-members .member .member-info {
    border-radius: 0.5rem;
    width: 90%;
  }
  main .team-section .team-members .member .member-info h1 {
    font-weight: 300;
    font-size: 1.4rem;
  }
  main .job-section .text-section {
    padding: 2rem 2.5rem;
  }
  main .job-section .text-section h2 {
    margin-top: 1rem;
    padding: 0;
  }
  main .job-section .text-section h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  main .contact-section h2 {
    font-weight: 600;
  }
  main .contact-section h1 {
    font-size: 4rem;
    width: 100%;
    line-height: 1;
  }
  footer .social-links-section h2 {
    margin-bottom: 5rem;
  }
  footer .social-links-section .social-links {
    margin-bottom: 2rem;
  }
  footer .footer-pages-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
  }
  footer .footer-pages-section .pages-section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    gap: 2rem;
  }
  footer .footer-pages-section .pages-section h2 {
    font-family: "chillax", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
  footer .footer-pages-section .pages-section a {
    font-weight: 600;
  }
  footer .footer-pages-section .pages-section button {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1.2rem;
  }
  footer .footer-pages-section .cms-section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    gap: 2rem;
  }
  footer .footer-pages-section .cms-section h2 {
    font-family: "chillax", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
  footer .footer-pages-section .cms-section a {
    font-weight: 600;
  }
  footer .footer-pages-section .utility-pages-section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    gap: 2rem;
  }
  footer .footer-pages-section .utility-pages-section h2 {
    font-family: "chillax", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
  footer .footer-pages-section .utility-pages-section a {
    font-weight: 600;
  }
  footer .madeby-section {
    flex-direction: row;
    gap: 11rem;
    padding: 2rem;
  }
  footer .madeby-section p {
    font-weight: 600;
    font-size: 0.9rem;
    word-spacing: 3px;
  }
  footer .madeby-section span {
    word-spacing: 3px;
  }
}
@media (min-width: 1024px) {
  main .hero-section {
    flex-direction: row;
    width: 100%;
  }
  main .hero-section .img-section {
    width: 50%;
    height: auto;
  }
  main .hero-section .img-section img {
    height: 100%;
    border-radius: 1rem;
  }
  main .hero-section .text-section {
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 3rem;
    width: 50%;
  }
  main .hero-section .text-section h2 {
    padding-bottom: 10.5rem;
  }
  main .hero-section .text-section h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  main .hero-section .text-section p {
    font-size: 1.3rem;
  }
  main .stats-section {
    display: flex;
    justify-content: space-evenly;
  }
  main .stats-section .stats-container {
    gap: 7rem;
  }
  main .stats-section .stats-container .stats-item .stat-label {
    font-size: 0.96rem;
    word-spacing: 1px;
  }
  main .stats-section .stats-container .stats-item .stat-value {
    font-size: 3rem;
  }
  main .philosophy-section {
    flex-direction: row-reverse;
    width: 100%;
  }
  main .philosophy-section .text-section {
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 2.5rem 3rem;
    width: 50%;
  }
  main .philosophy-section .text-section h2 {
    padding-bottom: 12rem;
  }
  main .philosophy-section .text-section h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  main .philosophy-section .text-section .description p {
    font-size: 1.2rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    text-align: left;
    line-height: 1.35;
  }
  main .philosophy-section .img-section {
    height: auto;
    width: 50%;
    margin-top: 1rem;
  }
  main .philosophy-section .img-section img {
    height: 100%;
    border-radius: 1rem;
  }
  main .vision-section {
    flex-direction: row;
    width: 100%;
  }
  main .vision-section .img-section {
    height: auto;
    width: 50%;
  }
  main .vision-section .img-section img {
    height: 100%;
  }
  main .vision-section .text-section {
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 2rem 3rem;
    width: 50%;
  }
  main .vision-section .text-section h2 {
    padding-bottom: 12rem;
  }
  main .vision-section .text-section h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  main .vision-section .text-section p {
    font-size: 1.2rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    text-align: left;
    line-height: 1.35;
    word-spacing: 4px;
  }
  main .team-section .label-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  main .team-section .label-section h1 {
    font-weight: 500;
  }
  main .team-section .label-section .link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  main .team-section .label-section .link i {
    font-size: 1.1rem;
    color: #ececec;
    border: 1px solid rgba(128, 128, 128, 0.203);
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.203);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 0.8rem;
    transition: all ease 0.3s;
    cursor: pointer;
  }
  main .team-section .label-section .link span {
    color: #ececec;
    font-family: "satoshi", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  main .team-section .team-members {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  main .team-section .team-members .member .member-info {
    gap: 1rem;
  }
  main .job-section {
    flex-direction: row;
    width: 100%;
  }
  main .job-section .img-section {
    height: auto;
    width: 50%;
    margin-top: 1rem;
  }
  main .job-section .img-section img {
    height: 100%;
    border-radius: 1rem;
  }
  main .job-section .text-section {
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 2rem 3rem;
    width: 50%;
  }
  main .job-section .text-section h1 {
    font-size: 2rem;
    margin-bottom: 7rem;
  }
  main .contact-section {
    margin-top: 1rem;
    padding: 2rem 3rem;
    display: flex;
    align-items: end;
    gap: 3rem;
  }
  main .contact-section .heading h2 {
    font-weight: 600;
    font-size: 1rem;
  }
  main .contact-section .heading h1 {
    font-size: 3.5rem;
    font-weight: 500;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 1;
  }
  main .contact-section button {
    width: 30%;
    margin-bottom: 1.5rem;
  }
  footer {
    margin-top: 0;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    grid-template-areas: "social pages" "social madeby";
  }
  footer .social-links-section {
    grid-area: social;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  footer .social-links-section .social-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  footer .footer-pages-section {
    display: flex;
    flex-direction: row;
    gap: 5em;
  }
  footer .footer-pages-section .pages-section {
    gap: 2em;
  }
  footer .footer-pages-section .cms-section {
    gap: 2em;
  }
  footer .footer-pages-section .utility-pages-section {
    gap: 2em;
  }
  footer .madeby-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  main .hero-section .text-section {
    padding: 3rem 4rem;
  }
  main .hero-section .text-section h2 {
    padding-bottom: 12rem;
  }
  main .hero-section .text-section h1 {
    font-size: 4.2rem;
    line-height: 1.2;
  }
  main .hero-section .text-section p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
  }
  main .hero-section .text-section button {
    margin: 3rem 0;
  }
  main .stats-section {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem 2rem;
  }
  main .stats-section .stats-container .stats-item .stat-label {
    font-size: 1.2rem;
    word-spacing: 2px;
  }
  main .stats-section .stats-container .stats-item .stat-value {
    font-size: 4rem;
  }
  main .philosophy-section .text-section {
    padding: 3.5rem 4.2rem;
  }
  main .philosophy-section .text-section h2 {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 12rem;
  }
  main .philosophy-section .text-section h1 {
    font-size: 3rem;
  }
  main .philosophy-section .text-section .description p {
    line-height: 1.5;
    font-weight: 600;
    word-spacing: 3px;
  }
  main .vision-section .text-section {
    padding: 3rem 4rem;
  }
  main .vision-section .text-section h2 {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-bottom: 12rem;
  }
  main .vision-section .text-section h1 {
    font-size: 3.1rem;
    line-height: 1.2;
  }
  main .vision-section .text-section .description p {
    line-height: 1.5;
    font-weight: 600;
    word-spacing: 3px;
  }
  main .team-section .label-section {
    padding: 1rem 1.5rem;
  }
  main .team-section .label-section h1 {
    font-size: 3rem;
  }
  main .team-section .team-members .member .member-info {
    display: flex;
    justify-content: space-between;
    width: 93%;
    border-radius: 0.5rem;
  }
  main .team-section .team-members .member .member-info span {
    font-weight: 600;
    letter-spacing: 1px;
  }
  main .job-section .text-section {
    padding: 3rem 4rem;
  }
  main .job-section .text-section h2 {
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding: 0;
    font-weight: 700;
  }
  main .job-section .text-section h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  main .contact-section {
    padding: 3rem 4.5rem;
  }
  main .contact-section .heading h2 {
    font-size: 0.8rem;
    font-family: "satoshi", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
  }
  main .contact-section .heading h1 {
    font-size: 5rem;
  }
  main .contact-section button {
    padding: 1rem 0;
  }
  main .contact-section button i {
    padding: 0;
  }
  footer {
    padding: 1rem;
    margin: 0;
  }
  footer .social-links-section {
    margin: 0;
    padding: 2rem 2.5rem;
  }
  footer .social-links-section h2 {
    font-size: 1.3rem;
  }
  footer .footer-pages-section {
    justify-content: space-around;
    padding: 3rem 0;
    margin: 0;
  }
  footer .madeby-section {
    padding: 2.5rem 2rem;
  }
}
@media (min-width: 2560px) {
  body {
    display: grid;
    grid-template-columns: 1fr min(1440px, 100%) 1fr;
    gap: 0;
  }
  main, footer {
    grid-column: 2;
    padding: 0 1rem;
  }
}/*# sourceMappingURL=style.css.map */